### Print Your Name with Father Name and Date of Birth using Escape Sequence

In [1]:
print("Name:\tAtif Pervez")
print("Father's Name:\tMr. Pervez")
print("Date of Birth:\t23-08-1999")

Name:	Atif Pervez
Father's Name:	Mr. Pervez
Date of Birth:	23-08-1999

### Write your small bio using variables and print

In [3]:
name = "Atif Pervez"
age = 24
profession = "UI/UX Designer and Cloud Enthusiast"
hobby = "Reading, Running and Learning New Skills"

print("My name is", name)
print("I am", age, "years old.")
print("I am a", profession)
print("My hobbies are:", hobby)

My name is Atif Pervez
I am 24 years old.
I am a UI/UX Designer and Cloud Enthusiast
My hobbies are: Reading, Running and Learning New Skills

###  Program using all Python Operators

In [4]:
a = 15
b = 4
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Exponent:", a ** b)

Addition: 19
Subtraction: 11
Multiplication: 60
Division: 3.75
Floor Division: 3
Modulus: 3
Exponent: 50625

In [5]:
print("Equal:", a == b)
print("Not Equal:", a != b)
print("Greater:", a > b)
print("Less:", a < b)

Equal: False
Not Equal: True
Greater: True
Less: False

In [6]:
print("AND:", a > 10 and b < 5)
print("OR:", a > 20 or b < 5)
print("NOT:", not(a > b))

AND: True
OR: True
NOT: False

In [7]:
x = 10
x += 5
print("x after += 5:", x)

x after += 5: 15

In [8]:
list1 = [1, 2, 3, 4, 5]
print("Is 3 in list?", 3 in list1)
print("Is 7 not in list?", 7 not in list1)

Is 3 in list? True
Is 7 not in list? True

In [9]:
y = a
print("a is y:", a is y)
print("a is not b:", a is not b)

a is y: True
a is not b: True

### Marks, Total Marks, and Percentage

In [10]:
english = 85
islamiat = 90
maths = 95
total_marks = 300

obtained_marks = english + islamiat + maths
percentage = (obtained_marks / total_marks) * 100

In [11]:

print("Obtained Marks:", obtained_marks)
print("Percentage:", percentage, "%")

Obtained Marks: 270
Percentage: 90.0 %

### A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

In [12]:
salary = float(input("Enter your salary: "))
years = int(input("Enter your years of service: "))

if years > 5:
    bonus = salary * 0.05
    print("Bonus Amount:", bonus)
else:
    print("No Bonus")

Enter your salary:  20000
Enter your years of service:  6

Bonus Amount: 1000.0

### Voting Eligibility

In [13]:
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible for voting.")
else:
    print("You are not eligible for voting.")

Enter your age:  20

You are eligible for voting.

### Even or Odd

In [14]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print(num, "is Even")
else:
    print(num, "is Odd")

Enter a number:  40000

40000 is Even

### Divisible by 7 or not

In [1]:
num = int(input("Enter a number: "))

if num % 7 == 0:
    print(num, "is divisible by 7")
else:
    print(num, "is not divisible by 7")

Enter a number:  70

70 is divisible by 7

### Multiple of 5 → Hello / else → Bye

In [2]:
num = int(input("Enter a number: "))

if num % 5 == 0:
    print("Hello")
else:
    print("Bye")

Enter a number:  25

Hello

### Last digit of a number

In [3]:
num = int(input("Enter a number: "))

last_digit = num % 10
print("Last digit is:", last_digit)

Enter a number:  200031

Last digit is: 1

### Take values of length and breadth of a rectangle from user and print if it is square or rectangle.

In [4]:
length = int(input("Enter length: "))
breadth = int(input("Enter breadth: "))

if length == breadth:
    print("It is a Square")
else:
    print("It is a Rectangle")

Enter length:  25
Enter breadth:  24

It is a Rectangle

### Take two int values from user and print greatest among them.

In [5]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

if a > b:
    print(a, "is greatest")
elif b > a:
    print(b, "is greatest")
else:
    print("Both are equal")

Enter first number:  22
Enter second number:  22222

22222 is greatest

 ### shop will give discount of 10% if the cost of purchased quantity is more than 1000. Ask user for quantity Suppose, one unit will cost 100. Judge and print total cost for user.

In [1]:
quantity = int(input("Enter quantity: "))
cost_per_unit = 100
total_cost = quantity * cost_per_unit

if total_cost > 1000:
    discount = total_cost * 0.10
    total_cost -= discount

print("Total cost:", total_cost)

Enter quantity:  20

Total cost: 1800.0

### A school has following rules for grading system:
a. Below 25 - F

b. 25 to 45 - E

c. 45 to 50 - D

d. 50 to 60 - C

e. 60 to 80 - B

f. Above 80 - A

Ask user to enter marks and print the corresponding grade.

In [1]:
marks = int(input("Enter your marks: "))

if marks < 25:
    grade = "F"
elif marks < 45:
    grade = "E"
elif marks < 50:
    grade = "D"
elif marks < 60:
    grade = "C"
elif marks < 80:
    grade = "B"
else:
    grade = "A"

print("Your Grade is:", grade)

Enter your marks:  222

Your Grade is: A

### A student will not be allowed to sit in exam if his/her attendence is less than 75%.

Take following input from user

Number of classes held

Number of classes attended.

In [1]:
classes_held = int(input("Enter number of classes held: "))
classes_attended = int(input("Enter number of classes attended: "))

attendance = (classes_attended / classes_held) * 100
print("Attendance Percentage:", attendance, "%")

if attendance >= 75:
    print("Allowed to sit in exam")
else:
    print("Not allowed to sit in exam")

Enter number of classes held:  2
Enter number of classes attended:  1

Attendance Percentage: 50.0 %
Not allowed to sit in exam

### Attendance with Medical Cause
Modify the above question to allow student to sit if he/she has medical cause. Ask user if he/she has medical cause or not ( 'Y' or 'N' ) and print accordingly.

In [2]:
classes_held = int(input("Enter number of classes held: "))
classes_attended = int(input("Enter number of classes attended: "))

attendance = (classes_attended / classes_held) * 100
print("Attendance Percentage:", attendance, "%")

if attendance >= 75:
    print("Allowed to sit in exam")
else:
    medical = input("Do you have medical cause? (Y/N): ").upper()
    if medical == "Y":
        print("Allowed to sit in exam (Medical Reason)")
    else:
        print("Not allowed to sit in exam")

Enter number of classes held:  5
Enter number of classes attended:  2

Attendance Percentage: 40.0 %

Do you have medical cause? (Y/N):  y

Allowed to sit in exam (Medical Reason)

### Leap Year Check
Write a program to check if a year is leap year or not.
If a year is divisible by 4 then it is leap year but if the year is century year like 2000, 1900, 2100 then it must be divisible by 400.

In [3]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a Leap Year")
else:
    print(year, "is not a Leap Year")

Enter a year:  2004

2004 is a Leap Year

### Ask user to enter age, gender ( M or F ), marital status ( Y or N ) and then using following rules print their place of service.

In [4]:
age = int(input("Enter age: "))
gender = input("Enter gender (M/F): ").upper()
marital_status = input("Married? (Y/N): ").upper()

if gender == "F":
    print("She will work only in Urban Areas")
elif gender == "M":
    if 20 <= age <= 40:
        print("He can work anywhere")
    elif 40 < age <= 60:
        print("He will work in Urban Areas only")
    else:
        print("ERROR")
else:
    print("Invalid Input")

Enter age:  20
Enter gender (M/F):  m
Married? (Y/N):  y

He can work anywhere

### Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria : Unit Price uptp 100 units no charge Next 200 units Rs 5 per unit After 200 units Rs 10 per unit (For example if input unit is 350 than total bill amount is Rs.3500 (For example if input unit is 97 than total bill amount is Rs.0 (For example if input unit is 150 than total bill amount is Rs.750

In [1]:
units = int(input("Enter number of units: "))
bill = 0

if units <= 100:
    bill = 0
elif units <= 300:
    bill = (units - 100) * 5
else:
    bill = (200 * 5) + ((units - 300) * 10)

print("Total Bill: Rs.", bill)

Enter number of units:  200

Total Bill: Rs. 500

### Oldest and Youngest among 3 people

In [1]:
age1 = int(input("Enter age of person 1: "))
age2 = int(input("Enter age of person 2: "))
age3 = int(input("Enter age of person 3: "))

oldest = max(age1, age2, age3)
youngest = min(age1, age2, age3)

print("Oldest age is:", oldest)
print("Youngest age is:", youngest)

Enter age of person 1:  22
Enter age of person 2:  25
Enter age of person 3:  29

Oldest age is: 29
Youngest age is: 22